<!DOCTYPE html>
<html>
<% include partials/template/head.ejs %>
<body>
    
        <% include partials/template/navbarAuth.ejs %>
        
    </div>
    <div id="site-intro">
        <img id="logo-img" src="./images/sidepages/highscores.png"/>
    </div>
    <div class="container enemy-headers">
            <div class="row">
                <div class="col-xs-3">
                    Username
                </div>
                <div class="col-xs-3">
                        Level
                    </div>
                    <div class="col-xs-3">
                            Total Gold
                        </div>
                        <div class="col-xs-3">
                                Total Experience
                            </div>
            </div>
            <div class="enemies-wrapper">
                    <div class="container enemies-container">
                            <div class="row first-row-enemies">
                              <div class="col-xs-3">
                                 <u> <p>  JediJAke </p><u>
                                
                              </div>     
                              <div class="col-xs-3">
                                    <p> Lvl: 20 <font color='lime'></font></p>
                                    
                                
                              </div>
                              
                              <div class="col-xs-3" style="color: white">
                                    <p> 4000 <font color='gold'>gold </font></p>
                                
                              </div>
                              <div class="col-xs-3" style="color: white">
                                    <p> 100,000 total exp </p>
                                
                              </div>
                            </div>
                            </div>
                        </br>
</body>
</html>