<!DOCTYPE html>
<html>
        <% include partials/template/head.ejs %>
<body>
    
        <% include partials/template/navbarAuth.ejs %>
        
    </div>
    <div id="site-intro">
        <img id="logo-img" src="./images/sidepages/screenshots.png">
    </div>
    <div class="enemies-wrapper">
    <div class="container enemy-headers">
            <div class="row">
                <div class="col-xs-6">
                   <img src= "./images/mainpage/screenshot1.png">
                </div>
                <div class="col-xs-6">
                        <img src="./images/mainpage/screenshot2.png" />
                    </div>
                    
            </div>
        </br>
            
                    
                            <div class="row first-row-enemies">
                              <div class="col-xs-6">
                                 <img src="../images/mainpage/screenshot3.png">
                                
                              </div>     
                              <div class="col-xs-6">
                                    <img src="./images/mainpage/screenshot4.png">
                                    
                                
                              </div>
                        
                            </div>
                            </div>
                        </div>
</body>
</html>